@charset "UTF-8"

*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right,#78CDD7 0,8%, #44A1A0, #247B7B);
}
main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #225251bd;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1{
    color: #0D5C63;
    text-align: center; 
    text-shadow: 3px 3px #0c5a6313;
}
h2{
    color: #33776c

}
p{
   text-align: justify; 
}